<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/styles/cssandjs/normalize.css}" rel="stylesheet" />
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
<title>Student Survey</title>
</head>
<body class="bodyGridContainer">

<header class="bodyGridRow headerGridContainer">
		<h1>CSCI5308 Group Formation Tool</h1>
</header>


<form action="#">

<div th:each="question, iterstat : ${surveyQuestions}">
<br><hr>
<strong th:text="${question.title}"></strong>
<p th:text="${question.question}"></p>

<div th:if="${question.type == 'FREETEXT'}">
<textarea th:name="${iterstat.index+1}" cols="50" rows="10"></textarea>
</div>

<div th:if="${question.type == 'NUMERIC'}">
<input type="number" th:id="${iterstat.index+1}" th:name="${iterstat.index+1}" min="1" max="10">
</div>

<div th:if="${question.type == 'MCCM'}">
<div th:each="option : ${question.options}">
<input type="checkbox" th:text="${option.value}" th:name="${iterstat.index+1}+|X@Y${option.value}">
</div>

</div>

<div th:if="${question.type == 'MCCO'}">
<select th:name="${iterstat.index+1}">

<div th:each="option : ${question.options}">

<option th:text="${option.value}" th:value="${option.value}" th:id="${iterstat.index+1}+|X@Y${option.value}"></option>

</div>
</select>

</div>

</div>

<center><input type="submit" value="Submit Survey"></center>
</form>






</body>
</html>